.home-view {
    @media @phone {
        display        : flex;
        justify-content: center;
        align-items    : center;
    }

    >section {

        >.exhibition-container {
            display: flex;

            @media @phone {
                flex-direction: column;

                >img {
                    display: none;
                }
            }

            >.mobile-container {
                display: none;

                @media @phone {
                    display        : flex;
                    justify-content: center;
                    align-items    : center;
                    text-align     : center;
                    flex-direction : column;

                    >h2 {
                        font-style : normal;
                        font-weight: 400;
                        font-size  : 50px;
                        line-height: 50px;
                        color      : #FFF200;
                    }

                    >img {
                        margin-top: 40px;
                        width     : 90%;
                    }
                }
            }

            >.content {
                margin-left: 70px;

                @media @phone {
                    margin-left: 0px;
                    text-align : center;
                }

                >h2 {
                    font-style : normal;
                    font-weight: 400;
                    font-size  : 80px;
                    line-height: 90px;
                    color      : #FFF200;

                    @media @phone {
                        display: none;
                    }
                }

                >h3 {
                    font-family: 'MartelSans Regular';
                    font-weight: 400;
                    font-size  : 25px;
                    line-height: 30px;
                    margin-top : 16px;

                    @media @phone {
                        margin-top : 52px;
                        font-size  : 20px;
                        line-height: 30px;
                    }
                }

                >h4 {
                    font-family: 'MartelSans Regular';
                    font-weight: 400;
                    font-size  : 15px;
                    line-height: 30px;
                    margin-top : 32px;
                    color      : #FFF200;

                    @media @phone {
                        font-size  : 20px;
                        line-height: 30px;
                    }
                }

                >p {
                    margin-top : 100px;
                    font-family: 'Martel Sans';
                    font-style : normal;
                    font-weight: 400;
                    font-size  : 15px;
                    line-height: 25px;

                    @media @phone {
                        text-align: left;
                    }
                }

                @media @phone {
                    >img {
                        width : 224px;
                        height: 313px;
                    }
                }
            }
        }

        >.artists-container {
            display        : flex;
            flex-direction : column;
            text-align     : center;
            justify-content: center;
            margin-top     : 200px;

            >h2 {
                font-weight: 400;
                font-size  : 100px;
                line-height: 90px;
                color      : #FFF200;
            }

            >.artists-list {
                display              : grid;
                grid-template-columns: repeat(5, 1fr);
                gap                  : 70px;
                margin-top           : 70px;

                @media @phone {
                    grid-template-columns: repeat(2, 1fr);
                    gap                  : 30px;
                }

                >a {
                    text-decoration: none;

                    >.image-container {
                        text-align : center;
                        font-weight: 400;
                        font-size  : 20px;
                        color      : #FFF200;

                        >.art {
                            cursor: pointer;
                            width : 217px;
                            height: 387px;
                            border: solid 1px #FFF200;

                            @media @phone {
                                width : 150px;
                                height: 230px;
                            }
                        }
                    }
                }
            }

            >.misang-list {
                display              : grid;
                grid-template-columns: repeat(2, 1fr);
                gap                  : 70px;
                margin-top           : 70px;

                @media @phone {
                    grid-template-columns: repeat(1, 1fr);
                    gap                  : 30px;
                }

                >a {
                    text-decoration: none;

                    >.image-container {
                        text-align : center;
                        font-weight: 400;
                        font-size  : 20px;
                        color      : #FFF200;
                        width      : 545px;
                        height     : 387px;

                        @media @phone {
                            width  : 100%;
                            padding: 8px;
                        }

                        >.art {
                            cursor: pointer;
                            width : 545px;
                            height: 387px;
                            border: solid 1px #FFF200;

                            @media @phone {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }

        >.display-container {
            display        : flex;
            flex-direction : column;
            text-align     : center;
            justify-content: center;
            margin-top     : 200px;

            >h2 {
                font-weight: 400;
                font-size  : 100px;
                line-height: 90px;
                color      : #FFF200;
            }

            >.row {
                display  : flex;
                flex-wrap: wrap;
                padding  : 0 4px;

                >.column {
                    flex     : 25%;
                    max-width: 25%;
                    padding  : 0 4px;

                    >img {
                        margin-top    : 8px;
                        vertical-align: middle;
                        width         : 100%;
                    }
                }
            }
        }

        >.irl-container {
            display        : flex;
            flex-direction : column;
            text-align     : center;
            justify-content: center;
            margin-top     : 200px;

            >h2 {
                font-weight: 400;
                font-size  : 100px;
                line-height: 90px;
                color      : #FFF200;
            }

            >.row {
                display  : flex;
                flex-wrap: wrap;
                padding  : 0 4px;

                >.column {
                    flex     : 25%;
                    max-width: 25%;
                    padding  : 0 4px;

                    >img {
                        margin-top    : 8px;
                        vertical-align: middle;
                        width         : 100%;
                    }
                }
            }
        }
    }
}